@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    /* ========== COLORS ========== */
    --colorDarker: #1D5E21;
    --colorDark: #25772A;
    --colorSec: #4CAF50;
    --colorPrin: #29812D;
    --colorWhite: #D9D9D9;
    --colorErrorText: #670A1F;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,
::after { box-sizing: border-box; }

ul { list-style: none; }

button {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}


/* ============================== TOAST ============================== */
.colored-toast.swal2-icon-error,
.colored-toast.swal2-icon-success { background-color: var(--colorDark); }

.colored-toast .swal2-title,
.colored-toast .swal2-close,
.colored-toast .swal2-html-container {
    color: var(--colorWhite);
    font-family: 'Figtree', sans-serif;
}


/* ============================== BODY ============================== */
body {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.left-section { width: 50%; }

.left-section img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.right-section {
    position: relative;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    color: var(--colorWhite);
}

.right-section img {
    position: absolute;
    top: 2em;
    width: 5em;
    height: auto;
}