@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    /* ========== COLORS ========== */
    --colorDarker: #1D5E21;
    --colorDark: #25772A;
    --colorSec: #4CAF50;
    --colorSec2: #95cf97;
    --colorPrin: #29812D;
    --colorWhite: #D9D9D9;
    --colorErrorText: #670A1F;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,
::after { box-sizing: border-box; }

ul { list-style: none; }

button {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}


/* ============================== REUSABLE ============================== */
.input-container {
    position: relative;
    width: 100%;
}

.input-container i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 26px;
    color: var(--colorPrin);
}

.input-container .icon { left: 10px; }

.input-container input {
    width: 100%;
    border-radius: 0.4em;
    font-family: 'Figtree', sans-serif;
    font-size: 19px;
    color: var(--black);
    padding: 0.6em 1em 0.6em 2.5em;
}


/* ============================== TOAST ============================== */
.swal2-container { z-index: 100000 !important; }

.colored-toast.swal2-icon-error,
.colored-toast.swal2-icon-success { 
    background-color: var(--colorDark); 
    z-index: 100000 !important;
}

.colored-toast .swal2-title,
.colored-toast .swal2-close,
.colored-toast .swal2-html-container {
    color: var(--colorWhite);
    font-family: 'Figtree', sans-serif;
    z-index: 100000 !important;
}


/* ============================== LOADER ============================== */
.loader-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    align-items: center;
    justify-content: center;
}

.dot-spinner {
    --uib-size: 3rem;
    --uib-speed: .9s;
    --uib-color: var(--colorSec);
    height: var(--uib-size);
    width: var(--uib-size);
    position: relative;
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot-spinner__dot::before {
  content: '';
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}


/* ============================== BODY ============================== */
body {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.left-section { width: 50%; }

.left-section img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.right-section {
    position: relative;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    color: var(--colorWhite);
}

.right-section img {
    position: absolute;
    top: 2em;
    width: 5em;
    height: auto;
}

.right-section h1 {
    margin-top: 1em;
    font-family: 'Comfortaa', cursive;
    font-size: 50px;
    letter-spacing: 2px;
    -webkit-text-stroke: 5px var(--colorWhite);
    text-stroke: 5px var(--colorWhite);
    paint-order: stroke fill;
}

.right-section p {
    font-family: 'Figtree', sans-serif;
    font-size: 20px;
    margin-top: 5px;
}

.right-section p span {
    color: var(--colorSec);
    font-weight: 600;
}

.right-section .container {
    width: 66%;
    margin-top: 4.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 1.3em 1.3em 1.3em;
    border: 1.5px solid var(--colorSec);
    border-radius: 20px;
}

.right-section .container form { 
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container.second { margin-top: 1.5em; }

.datepicker {
    position: absolute;
    bottom: 100%;
    z-index: 100;
    margin-top: 2px;
    background-color: var(--colorWhite);
    padding: 10px;
    border-radius: 0.4em;
}

.datepicker button {
    cursor: pointer;
    border-radius: 0.3em;
    font-size: 13px;
    transition: 0.3s;
}

.datepicker-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.datepicker-header button,
.datepicker-footer button {
    font-family: 'Figtree', 'sans-serif';
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.datepicker-header button.prev { margin-right: 0.7em; }

.datepicker-header button.next { margin-left: 0.7em; }

.datepicker-header button:hover { color: var(--colorDark); }

.datepicker-header select,
.datepicker-header input {
    font-size: 14px;
    border: 1px solid #eee;
    font-family: 'Figtree', 'sans-serif';
    border-radius: 0.4em;
}

.datepicker-header select { 
    width: 8em; 
    cursor: pointer;
}

.datepicker-header input { 
    width: 6em; 
    padding: 0.5em;
}

.datepicker-header .months {
    display: flex;
    gap: 0.4em;
}

.days, 
.dates {
    display: grid;
    grid-template-columns: repeat(7, 32px);
    gap: 10px;
    margin-block: 10px;
    color: var(--black);
}

.days span {
    font-family: 'Figtree', 'sans-serif';
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.dates { 
    margin: 10px 0 5px 0; 
    gap: 8px;
}

.dates button { aspect-ratio: 1; }

.dates button:hover { background-color: var(--colorSec2); }

.dates button.today {
    background: var(--colorSec2);
    color: var(--colorDarker);
    font-weight: 600
}

.dates button.selected {
    background: var(--colorDark);
    color: var(--colorWhite);
    font-weight: 600;
}

.datepicker-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.datepicker-footer button {
    background-color: rgba(119, 136, 153, 0.3); 
    padding: 3px 10px; 
}

.datepicker-footer .apply {
    background-color: var(--colorDarker);
    color: var(--colorWhite);
}

.both {
    width: 100%;
    display: flex;
    margin-top: 1.5em;
    gap: 1em;
}

.both .half { flex: 1; }

.half #sex,
.input-container .info {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.4em;
    font-size: 19px;
    font-family: 'Figtree', 'sans-serif';    
    padding: 0.6em 1em 0.6em 2.5em;
    cursor: pointer;
    color: #727272;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.half .select-arrow,
.input-container .select-arrow {
    position: absolute;
    right: 1.5em;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    pointer-events: none;
    color: var(--colorPrin);
}

.half #sex .placeholder,
.input-container .info .placeholder { color: #727272; }

.half #sex .gender,
.input-container .info .options { color: var(--black); }

.half #sex.selected,
.input-container .info.selected { color: var(--black); }

.compButton,
.completeReg {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.5em;
    width: 15em;
    height: 2.6em;
    background-color: var(--colorWhite);
    border-radius: 10px;
    color: var(--black);
    font-size: 18px;
    font-family: 'Comfortaa', sans-serif;
    -webkit-text-stroke: 1px var(--black);
    text-stroke: 1px var(--black);
    gap: 5.2em;
    transition: all 0.4s ease;
    overflow: hidden;
}

.compButton:hover,
.completeReg:hover { 
    -webkit-text-stroke: 1px var(--colorWhite);
    text-stroke: 1px var(--colorWhite); 
    color: var(--colorWhite); 
}

.compButton .label,
.completeReg .label {
    position: relative;
    z-index: 2;
}

.compButton .bttn-line,
.completeReg .bttn-line {
    position: absolute;
    height: 70%;
    width: 0.2em;
    background-color: var(--colorDark);
    transition: all 0.4s ease;
    z-index: 1;
}

.compButton .bttn-line.left,
.completeReg .bttn-line.left {
    left: 0.5em;
    border-radius: 5px 0 0 5px;
}

.compButton:hover .bttn-line.left,
.completeReg:hover .bttn-line.left { width: 50%; }

.compButton .bttn-line.right,
.completeReg .bttn-line.right {
    right: 0.5em;
    border-radius: 0 5px 5px 0;
}

.compButton:hover .bttn-line.right,
.completeReg:hover .bttn-line.right { width: 50%; }