@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    /* ========== COLORS ========== */
    --colorDark: #25772A;
    --colorSec: #4CAF50;
    --colorPrin: #29812D;
    --colorWhite: #D9D9D9;
    --colorErrorText: #670A1F;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,
::after { box-sizing: border-box; }

ul { list-style: none; }

button {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
}


/* ============================== BODY ============================== */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* ============================== NAVBAR ============================== */
.navbar {
    display: flex;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    background: var(--black);
    z-index: 999;
}