@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    /* ========== COLORS ========== */
    --colorDark: #25772A;
    --colorSec: #4CAF50;
    --colorPrin: #29812D;
    --colorWhite: #D9D9D9;
    --colorErrorText: #670A1F;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,
::after { box-sizing: border-box; }

ul { list-style: none; }

button {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
}

input { border-width: 0em; }


/* ============================== TOAST ============================== */
.swal2-container { z-index: 100000 !important; }

.colored-toast.swal2-icon-error,
.colored-toast.swal2-icon-success { 
    background-color: var(--colorDark); 
    z-index: 100000 !important;
}

.colored-toast .swal2-title,
.colored-toast .swal2-close,
.colored-toast .swal2-html-container {
    color: var(--colorWhite);
    font-family: 'Figtree', sans-serif;
    z-index: 100000 !important;
}


/* ============================== LOADER ============================== */
.loader-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    align-items: center;
    justify-content: center;
}

.dot-spinner {
    --uib-size: 3rem;
    --uib-speed: .9s;
    --uib-color: var(--colorSec);
    height: var(--uib-size);
    width: var(--uib-size);
    position: relative;
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot-spinner__dot::before {
  content: '';
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}


/* ============================== BODY ============================== */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* ============================== NAVBAR ============================== */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    background: var(--black);
    z-index: 999;
    padding: 0 2em;
}

.navbar .nav-image {
    position: absolute;
    left: 48%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar .nav-image img {
    height: 60%;
    width: auto;
}

.navbar h1 {
    color: var(--colorWhite);
    font-family: 'Figtree', sans-serif;
    font-size: 1.5em;
}

.navbar .nav-options {
    display: flex;
    gap: 2em;
}

.navbar .nav-opt { 
    font-size: 1.2em;
    cursor: pointer; 
    transition: all 0.3s ease;
}

.navbar .nav-opt:hover { color: var(--colorDark); }

.navbar .nav-opt.select { color: var(--colorDark); }


/* ============================== CONTENT ============================== */
.exercises {
    flex: 1;
    margin-top: 80px;          /* Navbar */
    margin-bottom: 60px;       /* Footer */
    background-image: url('../images/Player.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.exercises .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 36%;
    height: calc(100vh - 140px);
    margin-left: 4.1em;
}

.exercises .container.home { width: 40%; }

.exercises .title,
.exercises .brand {
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    letter-spacing: 2px;
    paint-order: stroke fill;
}

.exercises .title {
    font-size: 60px;
    color: var(--colorWhite);
    -webkit-text-stroke: 5px var(--colorWhite);
    text-stroke: 5px var(--colorWhite);
}

.exercises .brand {
    font-size: 50px;
    color: var(--colorSec);
    -webkit-text-stroke: 3px var(--colorSec);
    text-stroke: 3px var(--colorSec);
    margin-top: 0.2em;
    margin-bottom: 1.5em;
}

.exercises .subtitle {
    text-align: center;
    font-size: 18px;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
    color: var(--colorWhite);
    margin-top: 15px;
}

.subtitle.homeText {
  font-size: 20px;
  line-height: 1.6em;
}

.subtitle.homeText span { color: var(--colorSec); }

.exercises .newexButton {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.6em;
    width: 15em;
    height: 2.6em;
    background-color: var(--colorWhite);
    border-radius: 10px;
    color: var(--black);
    font-size: 18px;
    font-family: 'Comfortaa', sans-serif;
    -webkit-text-stroke: 1px var(--black);
    text-stroke: 1px var(--black);
    gap: 5.2em;
    transition: all 0.4s ease;
    overflow: hidden;
}

.newexButton:hover { 
    -webkit-text-stroke: 1px var(--colorWhite);
    text-stroke: 1px var(--colorWhite); 
    color: var(--colorWhite); 
}

.newexButton .label {
    position: relative;
    z-index: 2;
}

.newexButton .bttn-line {
    position: absolute;
    height: 70%;
    width: 0.2em;
    background-color: var(--colorDark);
    transition: all 0.4s ease;
    z-index: 1;
}

.newexButton .bttn-line.left {
    left: 0.5em;
    border-radius: 5px 0 0 5px;
}

.newexButton:hover .bttn-line.left { width: 50%; }

.newexButton .bttn-line.right {
    right: 0.5em;
    border-radius: 0 5px 5px 0;
}

.newexButton:hover .bttn-line.right { width: 50%; }


/* ============================== FOOTER ============================== */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background: var(--black);
    position: fixed;
    bottom: 0;
}

.social-icons {
    display: flex;
    gap: 30px;
}

.social-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--colorDark);
    border-radius: 50%;
    color: var(--black);
    font-size: 22px;
    width: 35px;
    height: 35px;
    transition: all 0.3s ease;
}

.social-circle:hover { background-color: var(--colorSec); }



/* ======================== RESPONSIVE ======================== */
@media (max-width: 992px) {
    .exercises .container {
        width: 80%;
        margin-left: 0;
        text-align: center;
    }

    .exercises .title {
        font-size: 45px;
        -webkit-text-stroke: 3px var(--colorWhite);
    }

    .newexButton {
        width: 12em;
        gap: 3em;
    }
}

/* pantalla móvil */
@media (max-width: 600px) {
    .exercises .container {
        width: 100%;
        margin-left: 0;
        padding: 130px 20px 100px;
        text-align: center;
    }

    .exercises .title {
        font-size: 32px;
        -webkit-text-stroke: 2px var(--colorWhite);
    }

    .exercises .subtitle { font-size: 14px; }

    .newexButton {
        width: 10em;
        height: 3em;
        gap: 1.5em;
        font-size: 16px;
    }
}