@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    /* ========== COLORS ========== */
    --colorDarker: #1D5E21;
    --colorDark: #25772A;
    --colorSec: #4CAF50;
    --colorPrin: #29812D;
    --colorWhite: #D9D9D9;
    --colorErrorText: #670A1F;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,
::after { box-sizing: border-box; }

ul { list-style: none; }

button {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
}

input { border-width: 0em; }


/* ============================== REUSABLE ============================== */
.input-container {
    position: relative;
    width: 100%;
}

.input-container i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 26px;
    color: var(--colorPrin);
}

.input-container .icon { left: 10px; }

.input-container .pass,
.input-container .conf-pass { 
    right: 12px; 
    font-size: 26px;
    cursor: pointer;
}

.input-container input {
    width: 100%;
    border-radius: 0.4em;
    font-family: 'Figtree', sans-serif;
    font-size: 19px;
    color: var(--black);
    padding: 0.6em 3em 0.6em 2.5em;
}


/* ============================== TOAST ============================== */
.swal2-container { z-index: 100000 !important; }

.colored-toast.swal2-icon-error,
.colored-toast.swal2-icon-success { 
    background-color: var(--colorDark); 
    z-index: 100000 !important;
}

.colored-toast .swal2-title,
.colored-toast .swal2-close,
.colored-toast .swal2-html-container {
    color: var(--colorWhite);
    font-family: 'Figtree', sans-serif;
    z-index: 100000 !important;
}


/* ============================== LOADER ============================== */
.loader-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    align-items: center;
    justify-content: center;
}

.dot-spinner {
    --uib-size: 3rem;
    --uib-speed: .9s;
    --uib-color: var(--colorSec);
    height: var(--uib-size);
    width: var(--uib-size);
    position: relative;
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot-spinner__dot::before {
  content: '';
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}


/* ============================== BODY ============================== */
body {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.left-section { width: 50%; }

.left-section img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.right-section {
    position: relative;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    color: var(--colorWhite);
}

.right-section img {
    position: absolute;
    top: 2em;
    width: 5em;
    height: auto;
}

.right-section h1 {
    margin-top: 1em;
    font-family: 'Comfortaa', cursive;
    font-size: 50px;
    letter-spacing: 2px;
    -webkit-text-stroke: 5px var(--colorWhite);
    text-stroke: 5px var(--colorWhite);
    paint-order: stroke fill;
}

.right-section h2 {
    margin-top: 0.3em;
    font-family: 'Comfortaa', cursive;
    font-size: 27px;
    letter-spacing: 3px;
    -webkit-text-stroke: 3px var(--colorWhite);
    text-stroke: 3px var(--colorWhite);
    paint-order: stroke fill;
}

.right-section p {
    font-family: 'Figtree', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

.right-section p span {
    color: var(--colorSec);
    font-weight: 600;
}

.right-section .container {
    width: 66%;
    margin-top: 4.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5em 1.3em 1em 1.3em;
    border: 1.5px solid var(--colorSec);
    border-radius: 20px;
}

.right-section .container form {
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container form .options {
    width: 60%;
    display: flex;
    margin-bottom: 2.5em;
}

.options .email-opt,
.options .telephone-opt {
    position: relative;
    width: 50%;
    padding: 0.5em 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Comfortaa', cursive;
    font-size: 12px;
    background-color: var(--colorWhite);
    color: var(--black);
    cursor: pointer;
    transition: all 0.4s ease;
    z-index: 2;
}

.options .email-opt { border-radius: 8px 0 0 8px; }

.options .telephone-opt { border-radius: 0 8px 8px 0; }

.options .email-opt::after,
.options .telephone-opt::after {
    content: "";
    position: absolute;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: var(--colorDark);
    z-index: -1;
    transition: width 0.4s ease;
}

.options .email-opt::after { right: 0; }

.options .telephone-opt::after { left: 0; }

.options .email-opt.selected::after {
    border-radius: 8px 0 0 8px;
    width: 100%;
}

.options .telephone-opt.selected::after {
    border-radius: 0 8px 8px 0;
    width: 100%;
}

.options .email-opt.selected,
.options .telephone-opt.selected { color: var(--colorWhite); }

.input-container #email,
.input-container #phone { padding-right: 1em; }

.input-container #phone { padding-left: 6.1em; }

.input-container .country-select,
.input-container .flag-display {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);    
    color: var(--black);
}

.input-container .flag-display {
    left: 2.6em;
    transform: translateY(-63%);
    font-size: 1em;
}

.input-container .country-select {
    left: 4.4em;
    border: none;
    user-select: none;
    font-family: 'Figtree', sans-serif;
    font-size: 0.9em;
    cursor: pointer;
}

.passwordOtp {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.5em;
    width: 15em;
    height: 2.6em;
    background-color: var(--colorWhite);
    border-radius: 10px;
    color: var(--black);
    font-size: 18px;
    font-family: 'Comfortaa', sans-serif;
    -webkit-text-stroke: 1px var(--black);
    text-stroke: 1px var(--black);
    gap: 5.2em;
    transition: all 0.4s ease;
    overflow: hidden;
}

.passwordOtp:hover {
    -webkit-text-stroke: 1px var(--colorWhite);
    text-stroke: 1px var(--colorWhite); 
    color: var(--colorWhite); 
}

.passwordOtp .label {
    position: relative;
    z-index: 2;
}

.passwordOtp .bttn-line {
    position: absolute;
    height: 70%;
    width: 0.2em;
    background-color: var(--colorDark);
    transition: all 0.4s ease;
    z-index: 1;
}

.passwordOtp .bttn-line.left {
    left: 0.5em;
    border-radius: 5px 0 0 5px;
}

.passwordOtp:hover .bttn-line.left { width: 50%; }

.passwordOtp .bttn-line.right {
    right: 0.5em;
    border-radius: 0 5px 5px 0;
}

.passwordOtp:hover .bttn-line.right { width: 50%; }

.container .login,
.container .register {
    font-family: 'Figtree', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: var(--colorSec);
    cursor: pointer;
    margin-top: 2em;
}

.container p { 
    font-size: 13px; 
    margin-top: 3px;
}

.container .login:hover,
 .container .register:hover{ text-decoration: underline; }