@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    /* ========== COLORS ========== */
    --colorDark: #25772A;
    --colorSec: #4CAF50;
    --colorPrin: #29812D;
    --colorWhite: #D9D9D9;
    --colorErrorText: #670A1F;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,
::after { box-sizing: border-box; }

ul { list-style: none; }

button {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
}


/* ============================== REUSABLE ============================== */
.input-container {
    position: relative;
    width: 100%;
}

.input-container i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 26px;
    color: var(--colorPrin);
}

.input-container .icon { left: 10px; }

.input-container input {
    width: 100%;
    border-radius: 0.4em;
    font-family: 'Figtree', sans-serif;
    font-size: 19px;
    color: var(--black);
    padding: 0.6em 1em 0.6em 2.5em;
}

/* ============================== BODY ============================== */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
}

/* ============================== CONTENT ============================== */
.background {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 60px;
    background-image: url('../images/Player.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 140px);
}


/* ============================== CSS DEL INNER HTML ============================== */
.cont-both {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.7);
    width: 90%;
    height: 90%;
    margin: 0 auto;
    border-radius: 30px;
    padding: 3em 1em;
    gap: 2em;
}

.first {
    width: 40%;
    height: 3em;
    background-color: red;
}

.second {
    width: 60%;
    height: 3em;
    background-color: blue;
}